<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A773B351E2609AF00B7091F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A773B491E2609AF00B7091F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A773B541E2609AF00B7091F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
